tasklist.dtd

<!ELEMENT TASKLIST (TASK*)>
<!ELEMENT TASK (TEXT,DESCRIPTION,TASK*)>
<!ELEMENT TEXT (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>

<!ATTLIST TASK STARTDATE CDATA #REQUIRED>
<!ATTLIST TASK ENDATE CDATA #IMPLIED>
<!ATTLIST TASK ID CDATA #REQUIRED>
<!ATTLIST TASK PRIORITY CDATA #REQUIRED>
<!ATTLIST TASK EFFORT CDATA #REQUIRED>
